body {
    padding: 0 0 0 20px;
    margin-top: 10px;
    background-color: #fff;
    font: italic small-caps bold 16px/2 cursive;
}

h1 {
    color: #00f;
    padding: 0 0 0 0;
    margin-bottom: 5px;
}

div {
    color: #00f;
    padding: 0 0 0 0;
}

img {
    width: 25%;
    height: 25%;
}

.price {
    color: #FF1493;
}